PORT=3000

DB_HOST=localhost
DB_USER=postgres
DB_PASS=smartsindico
DB_NAME=smartsindico

AUTH_JWT_SECRET=Sm@rtS1nd1c0
AUTH_JWT_EXPIRATION=3600
AUTH_REFRESH_TOKEN_EXPIRATION=7776000

FACEBOOK_APP_ID=191871011378480
FACEBOOK_APP_SECRET=897838343102e915f993b5d0e38e8457

SMTP_SERVER=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=
SMTP_REQUIRE_TLS=
SMTP_TLS_REJECT_UNAUTHORIZED=

EMAIL_FROM=

AWS_REGION=

API_CORS=http://localhost:3001
