<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Você foi convidado para o SmartSíndico</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Você foi convidado para o SmartSíndico!</p>
    <br>
    <p>Baixe o aplicativo SmartSíndico em seu celular Android e tenha as principais informações do nosso condomínio. Após instalar, crie uma conta e se cadastre como Morador. O código do condomínio é {{codigoCondominio}}.</p>
    <br><p>Equipe SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>

</html>
