<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mensagem de Dúvida/Sugestão recebida</title>
</head>

<body>
  <div>
    <p><strong>{{nome}} ({{email}})</strong>, enviou uma dúvida/sugestão:</p>
    <p><strong>Mensagem:</strong> {{mensagem}}</p>
  </div>
</body>

</html>
