<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Você recebeu uma mensagem de um Morador do seu condomínio</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Você recebeu uma mensagem de um Morador do seu condomínio:</p>
    <br>
    <p><strong>Categoria:</strong> {{categoria}}</p>
    <p><strong>Assunto:</strong> {{assunto}}</p>
    <p><strong>Mensagem:</strong> {{mensagem}}</p>
    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>

</html>
