<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bem-vindo ao SmartSíndico</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Bem-vindo ao SmartSíndico!</p>
    <br>
    <p>Acesse nosso portal ou use nosso aplicativo para acompanhar a gestão do seu condomínio.</p>
    <br>
    <p>Qualquer dúvida entre em contato conosco.</p>
    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>

</html>
