<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pedido de Morador Pendente</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>O morador {{morador}} deseja juntar-se ao seu condomínio.</p>
    <br>
    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>

</html>
