<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sua senha foi alterada</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Sua senha foi alterada.</p>
    <br>
    <p>Qualquer dúvida entre em contato conosco.</p>
    <br><p>Equipe SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>

</html>
