<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Prestação de Contas - SmartSíndico</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Segue em anexo a prestação de contas do seu Condomínio.</p>
    <p>Este envio de e-mail é automático para avisar de um novo lançamento e não quita este ou outro título.</p>
    <p>Instale o aplicativo SmartSíndico e receba isto diretamente em seu celular.</p>
    <a href="www.smartsindico.com.br/app.php">www.smartsindico.com.br/app.php</a>
    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>
</html>
