<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recibo de Condomínio - SmartSíndico</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>Já está a disposição para pagamento o recibo referente à sua unidade do Condomínio {{cond}} com vencimento em {{data}}.</p>
    <p>Anexo, cópia do recibo que só será válida com a assinatura do(a) síndico(a) na quitação do mesmo.</p>
    <p>Este envio de e-mail é automático para avisar de um novo lançamento e não quita este ou outro título.</p>
    <p>Instale o aplicativo SmartSíndico e receba isto diretamente em seu celular.</p>
    <a href="www.smartsindico.com.br/app.php">www.smartsindico.com.br/app.php</a>
    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>
</html>
