<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recibo de Condomínio - SmartSíndico</title>
</head>

<body>
  <div>
    <h3>{{name}},</h3>
    <p>A prestação de contas do {{cond}} referente ao mês {{data}} está disponível para visualização.</p>

    <br><p>SmartSíndico</p>
    <p><a href="www.smartsindico.com.br">www.SmartSindico.com.br</a></p>
  </div>
</body>
</html>
